        <div class="large-12 columns">
        <h1>Categories</h1>
<table>
<thead>
<tr>
<th>Title</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>

<tbody>
<% @categories.each do |category| %>
<tr>
<td><%= category.title %></td>
<td><%= link_to 'Show', category %></td>
</tr>
<% end %>
</tbody>
</table>
</div>